body, html{
    margin: 1%;
    background-color: #fff8d3;
}

.logo{
    width: 100px;
    height: 100px;
    position: relative;
    left: 45%;
    border-radius: 5%;
}
h1{
    text-align: center;
    font-size: 275%;
}
.menu{
    background-color: #aaa;
    width: 90vw;
    height: 30vh;
    padding-top: 5vh;
    border-radius: 20px;
    margin: 20px auto;
}